<!DOCTYPE html>
<html lang="en">
<head>
  <title>Snake!</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/Style.css">
  <script src="../static/Script.js"></script>
</head>
<body>
  <h1>
    Snake!
  </h1>
  <div class="context">
    <p>
      Use the WASD keys to move the snake and eat the food!<br>
      You will be competiting against the AI.<br>
      You know the drill.
    </p>
    <p class="gl">Good luck!</p>
  </div>
  <div class="game">
    <p class="score">score: 0</p>
    <div class="AI">
    </div>
    <div class="player">
    </div>
  </div>
</body>
</html>