body {
  background-color: #ffffff;
  padding: 2%;
}

h1 {
  font-family: 'Space Mono', monospace;
  color: black;
  font-size: 250%;
  font-weight: bold;
  text-align: center;
  z-index: 100;
  position: relative;
}

.context {
  font-family: 'Space Mono', monospace;
  color: black;
  font-size: 100%;
  text-align: center;
  z-index: 100;
  position: relative;
  padding: 2%;
  background-color: #ffffff;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.context > .gl{
  color: #34D399;
}

.game {
  position: absolute;
  z-index: 50;
  top: 40%;
  left: 5%;
  width: 50%;
  height: 50%;
  padding: 2%;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  overflow: hidden;
}

.game > h1 {
  font-family: "Space Mono", monospace;
  font-size: 120%;
  font-weight: bold;
  padding: 1.5%;
}

.player {
  display: grid;
  grid-template-columns: repeat(20, 20px); 
  grid-template-rows: repeat(20, 20px);   
  gap: 0.5px;
  margin: 5%;
}

.AI {
  position: absolute;
  z-index: 50;
  top: 40%;
  right: 5%;
  width: 25%;
  height: 50%;
  padding: 2%;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  overflow: hidden;
}

.AI > h1 {
  font-family: "Space Mono", monospace;
  font-size: 100%;
  font-weight: bold;
  padding: 1.5%;
}

.cell {
  width: 15px;
  height: 15px;
}

.cell.black {
  background-color: black;
  transition-delay: 0.25s;
}

.cell.white {
  background-color: #34D399;
  transition-delay: 0.25s;
}

.cell.red {
  background-color: red;
  transition-delay: 0.25s;
}
